<div class="grid">
    <div class="col-12">
      <div class="card">
        <div class="text-2xl font-bold tracking-tight truncate sm:text-3xl">List of Top 20 Earners</div>
        <div class="text-s font-medium font-italic s:text-base text-secondary">This section displays the top 20 users that earned the most coins based on type of programs and channel.</div>
        <div class="mt-3">
          <div class="mb-2 flex justify-content-end flex-wrap gap-2" [formGroup]="filterForm">
            <!-- Program Type Filter -->
            <div class="flex align-items-center justify-content-center">
              <p-dropdown 
                placeholder="Select Type" 
                [formControl]="filterForm.get('type')" 
                [options]="types" 
                optionLabel="label" 
                optionValue="value">
                <ng-template pTemplate="selectedItem" let-selectedItem>
                  <span>Type: </span>
                  <span>{{selectedItem?.label || 'All'}}</span>
                </ng-template>
                <ng-template pTemplate="item" let-option>
                  <span>{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </div>
            <!-- Channel Filter -->
            <div class="flex align-items-center justify-content-center">
              <p-dropdown 
                placeholder="Select Channel" 
                [formControl]="filterForm.get('channel')" 
                [options]="channels" 
                optionLabel="label" 
                optionValue="value">
                <ng-template pTemplate="selectedItem" let-selectedItem>
                  <span>Channel: </span>
                  <span>{{selectedItem?.label || 'All'}}</span>
                </ng-template>
                <ng-template pTemplate="item" let-option>
                  <span>{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <!-- Table -->
        </div>
        <div class="mt-3">
          <p-table [value]="allEarner" [loading]="isLoading">
            <ng-template pTemplate="header">
              <tr>
                <th class="border-top-left text-center">Rank</th>
                <th class="border-top text-center">Name</th>
                <th class="border-top text-center">Phone Number</th>
                <th class="border-top-right text-center">Total Coins</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-top>
              <tr>
                <td class="border-left-right text-center">{{ top.rank }}</td>
                <td class="border-right text-center">{{ top.name | titlecase }}</td>
                <td class="border-right text-center">{{ top.phone }}</td>
                <td class="border-right text-center">{{ top.totalCoins | number:'1.0-0' }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>