<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="text-2xl font-bold tracking-tight truncate sm:text-3xl">Coins History</div>
            <div class="text-s font-italic s:text-base text-secondary">This section displays the overall coins distribution history.</div>
            <div class="mt-3">
                <form [formGroup]="filterForm">
                    <div class="mb-2 flex justify-content-end flex-wrap gap-2">
                        <div id="tourGuideOverlay1" class="tour-overlay">
                            <p-dropdown 
                                placeholder="Select Type" 
                                [formControl]="filterForm.get('type')" 
                                [options]="types" 
                                optionLabel="label" 
                                optionValue="value">
                                <ng-template pTemplate="selectedItem" let-selectedItem>
                                    <span style="color: rgb(173, 172, 172);">Type: </span>
                                    <span>{{selectedItem?.label || 'All'}}</span>
                                </ng-template>
                                <ng-template pTemplate="item" let-option>
                                    <span>{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div id="tourGuideOverlay2" class="tour-overlay">
                            <p-dropdown 
                                placeholder="Select Channel" 
                                [formControl]="filterForm.get('channel')" 
                                [options]="channels" 
                                optionLabel="label" 
                                optionValue="value">
                                <ng-template pTemplate="selectedItem" let-selectedItem>
                                    <span style="color: rgb(173, 172, 172);">Channel: </span>
                                    <span>{{selectedItem?.label || 'All'}}</span>
                                </ng-template>
                                <ng-template pTemplate="item" let-option>
                                    <span>{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div id="tourGuideOverlay3" class="tour-overlay">
                            <p-dropdown 
                                placeholder="Select Sort By" 
                                [formControl]="filterForm.get('sortBy')" 
                                [options]="sortBy" 
                                optionLabel="label" 
                                optionValue="value">
                                <ng-template pTemplate="selectedItem" let-selectedItem>
                                    <span style="color: rgb(173, 172, 172);">Sort By: </span>
                                    <span>{{selectedItem?.label || 'Date (Descending)'}}</span>
                                </ng-template>
                                <ng-template pTemplate="item" let-option>
                                    <span>{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div id="tourGuideOverlay4" class="tour-overlay">
                            <p-calendar 
                                placeholder="Start Date - End Date" 
                                formControlName="rangeDates" 
                                selectionMode="range"
                                [showClear]="true" 
                                [readonlyInput]="true" 
                                [showIcon]="true"
                                inputId="buttondisplay" 
                                [showOnFocus]="false"
                                dateFormat="dd/mm/yy">
                            </p-calendar>
                        </div>
                        <div id="tourGuideOverlay5" class="tour-overlay">
                            <span class="p-input-icon-right p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <i class="pi pi-times" pTooltip="Clear Search" tooltipPosition="top" (click)="clearSearch()"></i>
                                <input pInputText type="text" formControlName="search" placeholder="Search" class="w-full" pTooltip="Search by Phone Number" tooltipPosition="top"/>
                            </span>
                        </div>
                        
                        <!-- Tour Guide Button -->
                        <div class="flex align-items-center justify-content-center">
                            <button pButton type="button" label="Start Tour" icon="pi pi-play" class="p-button-text p-button-raised p-ml-2 text-black bg-primary" (click)="startTour()">
                            </button>
                        </div>
    
                    </div>
                </form>
                
                <!-- Overlay for tourGuideOverlay1 -->
                <p-overlayPanel
                    #tourGuideOverlay1 
                    [showCloseIcon]="true" 
                    (onHide)="endTour(false)"
                    [showTransitionOptions]="'500ms ease-out'"
                    focusOnShow="true"
                    [style]="{ background: '#edf0f5', border: '2px solid #383838', 'border-radius': '5px' }">
                  <div class="p-2">
                      <h4>Type Filter Guide</h4>
                      <p>Select a type to filter the coins history. Options include "All", "Referral" and "Loyalty".</p>
                      <button 
                        pButton 
                        type="button" 
                        label="Next" 
                        icon="pi pi-chevron-right" 
                        class="p-button-sm p-button-raised" 
                        (click)="nextStep()">
                      </button>
                  </div>
                </p-overlayPanel>

                <!-- Overlay for tourGuideOverlay2 -->
                <p-overlayPanel 
                  #tourGuideOverlay2 
                  [showCloseIcon]="true" 
                  (onHide)="endTour(false)"
                  [showTransitionOptions]="'500ms ease-out'"
                  focusOnShow="true"
                  [style]="{ background: '#edf0f5', border: '2px solid #383838', 'border-radius': '5px' }">
                  <div class="p-2">
                      <h4>Channel Filter Guide</h4>
                      <p>Select a channel to filter coins history. Options include "All", "E-kedai" and "HelloSim".</p>
                      <div class="flex justify-between gap-2">
                          <button
                              pButton
                              type="button"
                              label="Back"
                              icon="pi pi-chevron-left"
                              class="p-button-sm p-button-raised"
                              (click)="previousStep()">
                          </button>
                          <button 
                              pButton 
                              type="button" 
                              label="Next" 
                              icon="pi pi-chevron-right" 
                              class="p-button-sm p-button-raised" 
                              (click)="nextStep()">
                          </button>
                      </div>
                  </div>
                </p-overlayPanel>

                <!-- Overlay for tourGuideOverlay3 -->
                <p-overlayPanel 
                  #tourGuideOverlay3 
                  [showCloseIcon]="true" 
                  (onHide)="endTour(false)"
                  [showTransitionOptions]="'500ms ease-out'"
                  focusOnShow="true"
                  [style]="{ background: '#edf0f5', border: '2px solid #383838', 'border-radius': '5px' }">
                  <div class="p-2">
                      <h4>Sort By Filter Guide</h4>
                      <p>Select sort by to filter coins history based on date. Options include "Date (Descending)" and "Date (Ascending)".</p>
                      <div class="flex justify-between gap-2">
                          <button
                              pButton
                              type="button"
                              label="Back"
                              icon="pi pi-chevron-left"
                              class="p-button-sm p-button-raised"
                              (click)="previousStep()">
                          </button>
                          <button 
                              pButton 
                              type="button" 
                              label="Next" 
                              icon="pi pi-chevron-right" 
                              class="p-button-sm p-button-raised" 
                              (click)="nextStep()">
                          </button>
                      </div>
                  </div>
                </p-overlayPanel>

                <!-- Overlay for tourGuideOverlay4 -->
                <p-overlayPanel 
                  #tourGuideOverlay4
                  [showCloseIcon]="true" 
                  (onHide)="endTour(false)"
                  [showTransitionOptions]="'500ms ease-out'"
                  focusOnShow="true"
                  [style]="{ background: '#edf0f5', border: '2px solid #383838', 'border-radius': '5px' }">
                  <div class="p-2">
                      <h4>Date Filter Guide</h4>
                      <p>Select date range (Start Date - End Date) to filter coins history.</p>
                      <div class="flex justify-between gap-2">
                          <button
                              pButton
                              type="button"
                              label="Back"
                              icon="pi pi-chevron-left"
                              class="p-button-sm p-button-raised"
                              (click)="previousStep()">
                          </button>
                          <button 
                              pButton 
                              type="button" 
                              label="Next" 
                              icon="pi pi-chevron-right" 
                              class="p-button-sm p-button-raised" 
                              (click)="nextStep()">
                          </button>
                      </div>
                  </div>
                </p-overlayPanel>

                <!-- Overlay for tourGuideOverlay5 -->
                <p-overlayPanel 
                  #tourGuideOverlay5
                  [showCloseIcon]="true" 
                  (onHide)="endTour(false)"
                  [showTransitionOptions]="'500ms ease-out'"
                  focusOnShow="true"
                  [style]="{ background: '#edf0f5', border: '2px solid #383838', 'border-radius': '5px' }">
                  <div class="p-2">
                      <h4>Sort By Filter Guide</h4>
                      <p>Select sort by to filter coins history based on date. Options include "Date (Descending)" and "Date (Ascending)".</p>
                      <div class="flex justify-between gap-2">
                          <button
                              pButton
                              type="button"
                              label="Back"
                              icon="pi pi-chevron-left"
                              class="p-button-sm p-button-raised"
                              (click)="previousStep()">
                          </button>
                          <button 
                              pButton 
                              type="button" 
                              label="Next" 
                              icon="pi pi-chevron-right" 
                              class="p-button-sm p-button-raised" 
                              (click)="nextStep()">
                          </button>
                      </div>
                  </div>
                </p-overlayPanel>
                
            </div>
            <div class="mt-3">
                <p-table [value]="allHistory" [loading]="isLoading" [paginator]="true" 
                         [rows]="pagination?.size" [totalRecords]="pagination?.length" 
                         [rowsPerPageOptions]="[20, 50, 100, 1000]" [showCurrentPageReport]="true" 
                         [lazy]="true" (onLazyLoad)="loadCoinsHistory($event)"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="border-top-left text-center font-bold text-gray-800" style="border-top-left-radius: 8px;">Phone Number</th>
                      <th class="border-top text-center font-bold text-gray-800">Amount</th>
                      <th class="border-top text-center font-bold text-gray-800">Type</th>
                      <th class="border-top text-center font-bold text-gray-800">Channel</th>
                      <th class="border-top text-center font-bold text-gray-800">Status</th>
                      <th class="border-top-right text-center font-bold text-gray-800" style="border-top-right-radius: 8px;">Date</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-coins>
                    <tr>
                      <td class="border-left-right text-center">{{ coins.phone }}</td>
                      <td class="border-right text-center">{{ coins.amount | number: '1.0-0' }}</td>
                      <td class="border-right text-center">{{ coins.type | titlecase }}</td>
                      <td class="border-right text-center">{{ formatChannel(coins.channel) }}</td>
                      <td class="border-right text-center">{{ coins.status | titlecase }}</td>
                      <td class="border-right text-center">{{ coins.date | date: 'dd MMM YYYY' }}</td>
                    </tr>
                  </ng-template>
                  
                  <style>
                    tr:last-child td:first-child {
                      border-bottom-left-radius: 8px;
                    }
                    tr:last-child td:last-child {
                      border-bottom-right-radius: 8px;
                    }
                  </style>
                                    
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td class="border-left-right text-center" colspan="8">No record found</td>
                    </tr>
                  </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
