<div class="grid">
    <p-toast key="tost" position="top-right"></p-toast>
    <div class="col-12">
        <div class="card">
            <div class="text-2xl font-bold tracking-tight truncate sm:text-3xl">Appoint Referral Agents</div>
            <div class="text-s font-italic s:text-base text-secondary">This section allows the admin to setup which user that will hold the referral agent title for the referral program.</div>
            <div class="mt-3">
                <div class="mb-2 flex justify-content-end flex-wrap gap-2" [formGroup]="filterForm">
                    <!-- Channel Filter -->
                    <div class="flex align-items-center justify-content-center position-relative">
                        <p-dropdown 
                            placeholder="Select Channel" 
                            [formControl]="filterForm.get('channel')" 
                            [options]="channels" 
                            optionLabel="label" 
                            optionValue="value">
                            <ng-template pTemplate="selectedItem" let-selectedItem>
                                <span>Channel: </span>
                                <span>{{selectedItem?.label || 'All'}}</span>
                            </ng-template>
                            <ng-template pTemplate="item" let-option>
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <!-- Add New Button -->
                    <div class="flex align-items-end justify-content-end position-relative">
                        <button pButton type="button" label="Add New" icon="pi pi-plus" (click)="addNew()"></button>
                    </div>                                                        
                </div>
            </div>
            <!-- Table -->
            <div class="mt-3">
                <p-table [value]="transformedUsers" [loading]="isLoading">
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="border-top-left text-center font-bold text-gray-800">Name</th>
                        <th class="border-top text-center font-bold text-gray-800">Phone</th>
                        <th class="border-top text-center font-bold text-gray-800">Email</th>
                        <th class="border-top text-center font-bold text-gray-800">Channel</th>
                        <th class="border-top text-center font-bold text-gray-800">Referral Code</th>
                        <th class="border-top-right text-center font-bold text-gray-800">Actions</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user>
                      <tr>
                        <td class="border-left-right text-center">{{ user.name }}</td>
                        <td class="border-right text-center">{{ user.phone }}</td>
                        <td class="border-right text-center">{{ user.email }}</td>
                        <td class="border-right text-center">{{ formatChannel(user.channel) }}</td>
                        <td class="border-right text-center">{{ user.referralCode }}</td>
                        <td class="border-right text-center">
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteBtn(user)"></button>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
            </div>
        </div>
    </div>
</div>

<!-- Add Popup -->
<p-dialog [(visible)]="addNewDialog" [style]="{width: '450px'}" header="User Setup Details" [modal]="true" class="p-fluid">
    <form [formGroup]="setupForm">
        <!-- Phone Number Field -->
        <div class="field">
            <label for="phone" class="font-semibold">User's Phone Number</label>
            <span class="p-input-icon-left">
                <i class="pi pi-mobile"></i>
                <input id="phone" type="text" pInputText autofocus formControlName="phone" placeholder="Enter Phone Number" 
                    [ngClass]="{'border-red-500': setupForm.get('phone').invalid && setupForm.get('phone').touched}"/>
            </span>
            <div *ngIf="setupForm.get('phone').invalid && setupForm.get('phone').touched" class="error-message text-red-500">
                Phone number is required 
            </div>
        </div>

        <!-- Referral Code Field -->
        <div class="field">
            <label for="referralCode" class="font-semibold">Referral Code</label>
            <span class="p-input-icon-left">
                <i class="pi pi-credit-card"></i>
                <input id="referralCode" type="text" pInputText autofocus formControlName="referralCode" placeholder="Enter Referral Code" 
                    [ngClass]="{'border-red-500': setupForm.get('referralCode').invalid && setupForm.get('referralCode').touched}"/>
            </span>
            <div *ngIf="setupForm.get('referralCode').invalid && setupForm.get('referralCode').touched" class="error-message text-red-500">
                Invalid input. Must be 6 characters. <br> Only consist of alphabets (A-Z) and/or numbers (0-9)
            </div>
        </div>

        <!-- Channel Field -->
        <div class="field">
            <label for="channel" class="font-semibold">Channel</label>
            <p-dropdown 
                id="channel"
                placeholder="Select Channel" 
                formControlName="channel" 
                [options]="[{label: 'E-Kedai', value: 'e-kedai'}, {label: 'HelloSim', value: 'hello-sim'}]" 
                optionLabel="label" 
                optionValue="value"
                [ngClass]="{'ng-dirty': setupForm.get('channel').invalid && setupForm.get('channel').touched}">
                <ng-template pTemplate="selectedItem" let-selectedItem>
                    <span>{{selectedItem?.label}}</span>
                </ng-template>
                <ng-template pTemplate="item" let-option>
                    <span>{{option.label}}</span>
                </ng-template>
            </p-dropdown>
            <div *ngIf="setupForm.get('channel').invalid && setupForm.get('channel').touched" class="error-message text-red-500">
                Channel is required
            </div>
        </div>

        <div class="flex align-items-end justify-content-end position-relative">
            <div class="w-fit">
                <button pButton type="button" label="Submit" (click)="submit()" [disabled]="!setupForm.valid"></button>
            </div>
        </div>
    </form>
</p-dialog>

<!-- Delete Confirmation -->
<p-dialog [(visible)]="deleteUserDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="userToDelete">Are you sure you want to delete <b>{{userToDelete.name}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteUserDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
    </ng-template>
</p-dialog>
