<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="text-2xl font-bold tracking-tight truncate sm:text-3xl">Member Listing</div>
            <div class="text-s font-italic s:text-base text-secondary">
                This section displays the list of members and their involvement in the programs.
            </div>
            <div class="mt-3">
                <div class="mb-2 flex justify-content-end flex-wrap gap-2" [formGroup]="filterForm">

                    <!-- channel Filter -->
                    <div class="flex align-items-center justify-content-center position-relative">
                        <p-dropdown 
                            placeholder="Select Channel" 
                            [formControl]="filterForm.get('channel')" 
                            [options]="channels" 
                            optionLabel="label" 
                            optionValue="value">
                            <ng-template pTemplate="selectedItem" let-selectedItem>
                                <span style="color: rgb(173, 172, 172);">Channel: </span>
                                <span>{{selectedItem?.label || 'All'}}</span>
                            </ng-template>
                            <ng-template pTemplate="item" let-option>
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>

                    <!-- Status Filter -->
                    <div class="flex align-items-center justify-content-center position-relative">
                        <p-dropdown 
                            placeholder="Select Status" 
                            [formControl]="filterForm.get('status')" 
                            [options]="status" 
                            optionLabel="label" 
                            optionValue="value">
                            <ng-template pTemplate="selectedItem" let-selectedItem>
                                <span style="color: rgb(173, 172, 172);">Status: </span>
                                <span>{{selectedItem?.label || 'All'}}</span>
                            </ng-template>
                            <ng-template pTemplate="item" let-option>
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    
                    <!-- Sort By -->
                    <div class="flex align-items-center justify-content-center position-relative">
                        <p-dropdown 
                            placeholder="Select Sort By" 
                            [formControl]="filterForm.get('sortBy')" 
                            [options]="sortBy" 
                            optionLabel="label" 
                            optionValue="value">
                            <ng-template pTemplate="selectedItem" let-selectedItem>
                                <span style="color: rgb(173, 172, 172);">Sort By: </span>
                                <span>{{selectedItem?.label || 'Name (A-Z)'}}</span>
                            </ng-template>
                            <ng-template pTemplate="item" let-option>
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>

                    <!-- Search Filter -->
                    <div class="flex align-items-center justify-content-center">
                        <span class="p-input-icon-right p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <i class="pi pi-times" pTooltip="Clear Search" tooltipPosition="top" (click)="clearSearch()"></i>
                            <input pInputText type="text" formControlName="search" placeholder="Search" class="w-full" pTooltip="Search by Phone Number, Name and Email" tooltipPosition="top"/>
                        </span>
                    </div> 
                </div>
            </div>
            <div class="mt-3">
                <p-table [value]="allMembers" [loading]="isLoading" [paginator]="true" 
                    [rows]="pagination?.size" [totalRecords]="pagination?.length" 
                    [rowsPerPageOptions]="[20, 50, 100, 1000]" [showCurrentPageReport]="true" 
                    [lazy]="true" (onLazyLoad)="loadMembers($event)"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="border-top-left text-center font-bold text-gray-800">Phone Number</th>
                            <th class="border-top text-center font-bold text-gray-800">Name</th>
                            <th class="border-top text-center font-bold text-gray-800">Tier</th>
                            <th class="border-top-right text-center font-bold text-gray-800">Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-member let-i="rowIndex">
                        <tr>
                            <td class="border-left text-center">{{ member.phone }}</td>
                            <td class="text-center">{{ member.name | uppercase }}</td>
                            <td class="text-center">
                                <!-- Member Tier Display -->
                                <span *ngIf="member.idDoc.status === 'REJECTED' || member.tier === null" 
                                      class="items-center font-bold px-2 uppercase p-badge p-component p-rounded p-text-sm"
                                      [ngStyle]="{ 'background-color': '#fca5a5', 'color': '#dc2626' }"> NOT ACTIVE
                                </span>
                                <span *ngIf="member.idDoc.status !== 'REJECTED' && member.tier === 3" 
                                      class="items-center font-bold px-2 uppercase p-badge p-component p-rounded p-text-sm"
                                      [ngStyle]="{ 'background-color': '#d6d3d1', 'color': '#78716c' }"> SILVER
                                </span>
                                <span *ngIf="member.idDoc.status !== 'REJECTED' && member.tier === 2" 
                                      class="items-center font-bold px-2 uppercase p-badge p-component p-rounded p-text-sm"
                                      [ngStyle]="{ 'background-color': '#f2d066', 'color': '#c79807' }"> GOLD
                                </span>
                                <span *ngIf="member.idDoc.status !== 'REJECTED' && member.tier === 1" 
                                      class="items-center font-bold px-2 uppercase p-badge p-component p-rounded p-text-sm"
                                      [ngStyle]="{ 'background-color': '#cbd5e1', 'color': '#475569' }"> PLATINUM
                                </span>
                            </td>
                            <td class="border-right text-center">
                                <button (click)="toggleOpen(i, member.phone)" pButton type="button" [icon]="openIndex === i ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"></button>
                            </td>
                        </tr>
                        
                        <!-- Expanded row -->
                        <tr *ngIf="openIndex === i">
                            <td colspan="4">
                                <div class="grid col-12 ml-4 mt-2">
                                    <div class="grid col-12">
                                        <div class="grid grid-nogutter col-12">
                                            <div class="col-6">
                                                <div class="text-2xl font-bold text-primary"> 
                                                    {{ selectedUser.name | titlecase }}
                                                    <sup>
                                                        <span *ngIf="selectedUser.membershipTier.status !== 'ACTIVE' || selectedUser.membershipTier.tier === null" 
                                                              class="items-center font-bold px-2 uppercase p-badge p-component p-rounded p-text-sm"
                                                              [ngStyle]="{ 'background-color': '#fca5a5', 'color': '#dc2626' }"> NOT ACTIVE
                                                        </span>
                                                        <span *ngIf="selectedUser.membershipTier.status === 'ACTIVE' && selectedUser.membershipTier.tier === 3" 
                                                              class="items-center font-bold px-2 uppercase p-badge p-component p-rounded p-text-sm"
                                                              [ngStyle]="{ 'background-color': '#d6d3d1', 'color': '#78716c' }">SILVER 
                                                        </span>
                                                        <span *ngIf="selectedUser.membershipTier.status === 'ACTIVE' && selectedUser.membershipTier.tier === 2" 
                                                              class="items-center font-bold px-2 uppercase p-badge p-component p-rounded p-text-sm"
                                                              [ngStyle]="{ 'background-color': '#f2d066', 'color': '#c79807' }"> GOLD 
                                                        </span>
                                                        <span *ngIf="selectedUser.membershipTier.status === 'ACTIVE' && selectedUser.membershipTier.tier === 1" 
                                                              class="items-center font-bold px-2 uppercase p-badge p-component p-rounded p-text-sm"
                                                              [ngStyle]="{ 'background-color': '#cbd5e1', 'color': '#475569' }"> PLATINUM 
                                                        </span>
                                                    </sup>
                                                </div>
                                                <div><span class="font-bold">Email:</span> {{ selectedUser.email }}</div>
                                                <div><span class="font-bold">Member since:</span> 
                                                    <span *ngIf="selectedUser.idDoc && selectedUser.idDoc.status !== 'REJECTED'"> {{ selectedUser.membershipTier.startDate | date: 'dd MMMM YYYY' }}</span>
                                                    <span *ngIf="selectedUser.idDoc && selectedUser.idDoc.status === 'REJECTED'">Not Applied</span>
                                                </div>
                                                <div>
                                                    <span class="font-bold" pTooltip="Status of tier whether it is able to upgrade/downgrade or not" tooltipPosition="left">Tier Status:</span>
                                                    {{ selectedUser.spending.memberStatus | titlecase }}
                                                    <button class="text-white text-sm py-0.5 px-1 rounded-md bg-primary-700 cursor-pointer border-none"
                                                            pTooltip="Update tier and status of tier"
                                                            tooltipPosition="right"
                                                            (click)="upgradeTier(selectedUser.phone, selectedUser.membershipTier.tier, selectedUser.spending.memberStatus)">
                                                            UPGRADE
                                                        <i class="pi pi-pencil text-white ml-1"></i>
                                                    </button>
                                                </div>                                
                                                <div><span class="font-bold">Phone Number:</span> {{ selectedUser.phone }}</div> 
                                                <div><span class="font-bold">Referral Code:</span> {{ selectedUser.referral.referralCode ?? 'Not Applied' }}</div>
                                                <div><span class="font-bold">Active Channels:</span> {{ selectedUser.activeChannels ?? 'None' }}</div>
                                            </div>
                                            
                                            <div class="col-6">
                                                <div class="grid">
                                                    <div class="col-4 flex flex-column">
                                                        <div class="card p-2 text-center bg-primary text-white h-full w-full justify-between">
                                                            <i class="pi pi-id-card text-2xl"></i>
                                                            <div class="text-md align-items-center">Member For</div>
                                                            <div class="text-2xl font-bold">{{ selectedUser.membershipTier.duration ?? 0 | number: '1.0-0' }}</div>
                                                            <div class="text-md">days</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 flex flex-column">
                                                        <div class="card p-2 text-center bg-primary text-white h-full w-full justify-between">
                                                            <i class="pi pi-dollar text-2xl"></i>
                                                            <div class="text-md align-items-center">Available Coins</div>
                                                            <div class="text-2xl font-bold">{{ selectedUser.coins.availableCoins | number: '1.0-0' }}</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 flex flex-column">
                                                        <div class="card p-2 text-center bg-primary text-white h-full w-full justify-between">
                                                            <i class="pi pi-users text-2xl"></i>
                                                            <div class="text-md align-items-center">Referral Count</div>
                                                            <div class="text-2xl font-bold">{{ selectedUser.referral.referralCount | number: '1.0-0' }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="text-primary font-bold text-xl mr-2 pb-1"> Coins Summary</div>
                                            <div class="text-white">
                                                <p-table [value]="[selectedUser.coins]" class="table-auto w-full pb-2" styleClass="p-datatable-gridlines">
                                                    <ng-template pTemplate="header">
                                                        <tr class="bg-primary text-white">
                                                            <th class="px-4 py-2 text-center bg-primary font-bold">Type</th>
                                                            <th class="px-4 py-2 text-center bg-primary font-bold">Total Earned</th>
                                                            <th class="px-4 py-2 text-center bg-primary font-bold">Total Used</th>
                                                            <th class="px-4 py-2 text-center bg-primary font-bold">Total Expired</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template pTemplate="body" let-rowData>
                                                        <tr>
                                                            <td class="px-4 py-2 text-center bg-blue-100"> Loyalty </td>
                                                            <td class="px-4 py-2 text-center bg-blue-100"> {{ rowData.loyaltyCoins.earned | number: '1.0-0' }}</td>
                                                            <td class="px-4 py-2 text-center bg-blue-100"> {{ rowData.loyaltyCoins.used | number: '1.0-0' }}</td>
                                                            <td class="px-4 py-2 text-center bg-blue-100"> {{ rowData.loyaltyCoins.expired | number: '1.0-0' }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="px-4 py-2 text-center bg-blue-100"> Referral </td>
                                                            <td class="px-4 py-2 text-center bg-blue-100"> {{ rowData.referralCoins.earned | number: '1.0-0' }} </td>
                                                            <td class="px-4 py-2 text-center bg-blue-100"> {{ rowData.referralCoins.used | number: '1.0-0' }}</td>
                                                            <td class="px-4 py-2 text-center bg-blue-100"> {{ rowData.referralCoins.expired | number: '1.0-0' }}</td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                        </div>

                                        <!-- Spending Summary -->
                                        <div class="col-12">
                                            <div class="text-primary font-bold text-xl pb-1">Spending Summary</div>
                                            <ng-container *ngIf="selectedUser.spending.memberStatus !== 'PERMENANT'; else isPermenantTier">
                                                <div class="rounded-lg text-center bg-primary">
                                                    <p-table [value]="[selectedUser.spending]" class="table-auto w-full" styleClass="p-datatable-gridlines">
                                                        <ng-template pTemplate="header">
                                                            <tr class="bg-primary-700 text-white">
                                                                <th class="px-4 py-2 text-center bg-primary">
                                                                    Current Spending
                                                                    <i class="pi pi-question-circle ml-2" [pTooltip]="'The total spending within loyalty configuration timeframe'" tooltipPosition="right"></i>
                                                                </th>
                                                                <th class="px-4 py-2 text-center bg-primary">Amount to Maintain Tier</th>
                                                                <th class="px-4 py-2 text-center bg-primary" *ngIf="selectedUser.membershipTier.tier !== 1">Next Tier Target</th>
                                                                <th class="px-4 py-2 text-center bg-blue-100" *ngIf="selectedUser.membershipTier.tier === 1">Note</th>
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template pTemplate="body" let-rowData>
                                                            <tr>
                                                                <td class="px-4 py-2 text-center bg-blue-100"> RM {{ rowData.totalSpending | number: '1.2-2' }}</td>
                                                                <td class="px-4 py-2 text-center bg-blue-100"> RM {{ selectedUser.spending.currentTierTarget | number: '1.2-2' }}</td>
                                                                <td class="px-4 py-2 text-center bg-blue-100" *ngIf="selectedUser.membershipTier.tier !== 1"> RM {{ selectedUser.spending.nextTierTarget | number: '1.2-2' }}</td>
                                                                <td class="px-4 py-2 bg-blue-100 text-start" *ngIf="selectedUser.membershipTier.tier === 1"> User is currently at the highest tier </td>
                                                            </tr>
                                                        </ng-template>
                                                    </p-table>
                                                </div>
                                            </ng-container>
                                            
                                            <ng-template #isPermenantTier>
                                                <div class="rounded-lg border border-gray-200">
                                                    <p-table [value]="[selectedUser.spending]" class="table-auto w-full">
                                                        <ng-template pTemplate="header">
                                                            <tr class="bg-primary-700 text-white">
                                                                <th class="px-4 py-2 border border-gray-200">Current Spending (RM)</th>
                                                                <th class="px-4 py-2 border border-gray-200">Note</th>
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template pTemplate="body" let-rowData>
                                                            <tr>
                                                                <td class="px-4 py-2 border border-gray-200 text-center border-right"> RM {{ rowData.totalSpending | number: '1.2-2' }}</td>
                                                                <td class="px-4 py-2 border border-gray-200 text-start"> Current user's tier is set to "Permenant". Thus, no upgrade or downgrade will be applied.</td>
                                                            </tr>
                                                        </ng-template>
                                                    </p-table>
                                                </div>
                                            </ng-template>                                            
                                        </div>

                                        <!-- Tree Channel Filter -->
                                        <div class="col-12 text-start flex justify-content-end pt-2" [formGroup]="channelFilter">
                                            <p-dropdown [options]="treeChannel" formControlName="channelTree" placeholder="Select Channel" class="w-44 pr-4" appendTo="body"></p-dropdown>
                                            <button pButton pRipple label="Geneology" class="py-3.5 px-4 flex items-center text-sm text-white rounded-md bg-primary-700"
                                                [disabled]="selectedUser.referral.referralCount <= 0"
                                                (click)="refTree(selectedUser.phone, channelFilter.get('channelTree').value)" pTooltip="View Geneology">
                                                <i class="pi pi-eye text-white pr-1"></i>
                                            </button>
                                        </div>
                                        
                                        <!-- Referral Tree -->
                                        <div class="w-full" style="overflow-x: auto; white-space: nowrap;">
                                            <div *ngIf="showTree">
                                                <div class="flex justify-end pr-4 cursor-pointer" (click)="closeTree()">
                                                    <i class="pi pi-times text-gray-700"></i>
                                                    <span class="pl-1">Close</span>
                                                </div>
                                                <div class="w-full" style="overflow-x: auto;">
                                                    <p-organizationChart [value]="referralTree" [collapsible]="false">
                                                        <ng-template pTemplate="default" let-node>
                                                            <div [ngClass]="{'treeStyle': node.data.isTopNode, 'custom-node': !node.data.isTopNode}" class="ui-organizationchart-node">
                                                                <div class="text-md font-semibold">{{ node.data.name | titlecase }}</div>
                                                                <div *ngIf="node.data.name !== 'SYSTEM'" class="text-sm italic">{{ node.data.phone }}</div>
                                                                <div *ngIf="node.data.name !== 'SYSTEM'" class="text-sm">{{ node.data.refCode }}</div>
                                                            </div>
                                                        </ng-template>
                                                    </p-organizationChart>
                                                </div>
                                            </div>
                                            
                                            <div *ngIf="displayMessage" class="text-center mt-4">
                                                <p>No Referral Tree Found</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td class="border-left-right text-center" colspan="8">No record found</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<!-- upgrade membership tier -->
<p-dialog [(visible)]="upgradeDialog" modal="true" [style]="{height: '280px', width: '400px'}" [closable]="true">
    <ng-template pTemplate="header">
        <div>
            <div class="text-lg font-bold pb-1">Update Membership Tier</div>
            <div class="text-xs font-italic s:text-base text-secondary">
                Set the tier and status of the tier, whether it can upgrade/downgrade or not.
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="content">
        <form [formGroup]="membershipForm">
            <div class="flex flex-1 flex-row justify-between items-start space-x-4"> 
                        
                <!-- Tier Field -->
                <div class="p-fluid flex-1">
                    <div class="field col">
                        <label class="font-semibold">
                            Tier <span class="required-asterisk">*</span>
                        </label>
                        <p-dropdown 
                            placeholder="Select Tier" 
                            [formControl]="membershipForm.get('tier')" 
                            [options]="membershipTier" 
                            optionLabel="label" 
                            optionValue="value"
                            appendTo="body">
                            <ng-template pTemplate="selectedItem" let-selectedItem>
                                <span>{{selectedItem?.label || 'Silver'}}</span>
                            </ng-template>
                            <ng-template pTemplate="item" let-option>
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>

                <!-- Status Field -->
                <div class="p-fluid flex-1">
                    <div class="field col">
                        <label class="font-semibold">
                            Status <span class="required-asterisk">*</span>
                        </label>
                        <p-dropdown 
                            placeholder="Select Status" 
                            [formControl]="membershipForm.get('status')" 
                            [options]="statusMember" 
                            optionLabel="label" 
                            optionValue="value"
                            appendTo="body">
                            <ng-template pTemplate="selectedItem" let-selectedItem>
                                <span>{{selectedItem?.label || 'Standard'}}</span>
                            </ng-template>
                            <ng-template pTemplate="item" let-option>
                                <span [title]="getTooltip(option.value)">{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>                

            </div> 
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button 
            pButton 
            label="Save" 
            icon="pi pi-save" 
            (click)="save()" 
            [disabled]="membershipForm.invalid || membershipForm.pristine">
        </button>
    </ng-template>    
</p-dialog>
