<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Aging Data</h4>
            <p>This is where view aging data.</p>
            <!-- <div *ngFor="let item of allAging">
                <div> {{ item.month }} | {{ item.year }} </div>
                <div> Loyalty </div>
                <div> {{ item.loyalty.totalEarned }} </div>
                <div> {{ item.loyalty.totalExpired }} </div>
                <div> {{ item.loyalty.totalUsed }} </div>
                <div> Referral </div>
                <div> {{ item.referral.totalEarned }} </div>
                <div> {{ item.referral.totalExpired }} </div>
                <div> {{ item.referral.totalUsed }} </div>
            </div> -->
        </div>
    </div>
</div>
