<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="text-2xl font-bold tracking-tight truncate sm:text-3xl">Aging Data</div>
      <div class="text-s font-italic s:text-base text-secondary">This section displays the aging data of coins based on month, year and channel.</div>
      <div class="mt-3">
        <div class="mb-2 flex justify-content-end flex-wrap gap-2" [formGroup]="filterForm">
          <!-- Month Filter -->
          <div class="flex align-items-center justify-content-center">
            <p-dropdown placeholder="Select month" [formControlName]="'month'" [options]="months" optionLabel="display" optionValue="month">
              <ng-template pTemplate="selectedItem" let-selectedItem>
                <span style="color: rgb(173, 172, 172);">Month: </span>
                <span>{{selectedItem?.display || 'Select month'}}</span>
              </ng-template>
              <ng-template pTemplate="item" let-option>
                <span>{{option.display}}</span>
              </ng-template>
            </p-dropdown>
          </div>
          <!-- Year Filter -->
          <div class="flex align-items-center justify-content-center">
            <p-dropdown placeholder="Select year" [formControlName]="'year'" [options]="years">
              <ng-template pTemplate="selectedItem" let-selectedItem>
                <span style="color: rgb(173, 172, 172);">Year: </span>
                <span>{{selectedItem || 'Select year'}}</span>
              </ng-template>
              <ng-template pTemplate="item" let-option>
                <span>{{option}}</span>
              </ng-template>
            </p-dropdown>
          </div>
          <!-- Channel Filter -->
          <div class="flex align-items-center justify-content-center">
            <p-dropdown 
              placeholder="Select Channel" 
              [formControl]="filterForm.get('channel')" 
              [options]="channels" 
              optionLabel="label" 
              optionValue="value">
              <ng-template pTemplate="selectedItem" let-selectedItem>
                <span style="color: rgb(173, 172, 172);">Channel: </span>
                <span>{{selectedItem?.label || 'All'}}</span>
              </ng-template>
              <ng-template pTemplate="item" let-option>
                <span>{{option.label}}</span>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
        <!-- Table -->
        <div class="mt-3">
          <p-table [value]="allAging" [loading]="isLoading" [paginator]="true" [rows]="5" 
            [rowsPerPageOptions]="[5,10,15,20]" [showCurrentPageReport]="true" 
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
            <ng-template pTemplate="header">
              <tr>
                <th class="border-top-left text-center font-bold text-gray-800">Month</th>
                <th class="border-top text-center font-bold text-gray-800">Referral</th>
                <th class="border-top-right text-center font-bold text-gray-800">Loyalty</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
              <tr>
                <td class="text-xl border-left text-center">
                  {{ getMonthName(rowData.month) }} 
                  <div>({{ rowData.year }})</div>
                </td>
                <td class="text-center">
                  <div class="w-full h-full p-3 py-5 my-3 text-center border-round-lg bg-green-50">
                    <div class="font-semibold pb-1">Total Earned</div>
                    <div class="text-xl">{{ rowData.referral.totalEarned | number:'1.0-0' }}</div>
                  </div>
                  <div class="w-full h-full p-3 py-5 my-3 text-center border-round-lg bg-yellow-50">
                    <div class="font-semibold pb-1">Total Used</div>
                    <div class="text-xl">{{ rowData.referral.totalUsed | number:'1.0-0' }}</div>
                  </div>
                  <div class="w-full h-full p-3 py-5 my-3 text-center border-round-lg bg-pink-50">
                    <div class="font-semibold pb-1">Total Expired</div>
                    <div class="text-xl">{{ rowData.referral.totalExpired | number:'1.0-0' }}</div>
                  </div>
                </td>
                <td class="border-right text-center">
                  <div class="w-full h-full p-3 py-5 my-3 text-center border-round-lg bg-green-50">
                    <div class="font-semibold pb-1">Total Earned</div>
                    <div class="text-xl">{{ rowData.loyalty.totalEarned | number:'1.0-0' }}</div>
                  </div>
                  <div class="w-full h-full p-3 py-5 my-3 text-center border-round-lg bg-yellow-50">
                    <div class="font-semibold pb-1">Total Used</div>
                    <div class="text-xl">{{ rowData.loyalty.totalUsed | number:'1.0-0' }}</div>
                  </div>
                  <div class="w-full h-full p-3 py-5 my-3 text-center border-round-lg bg-pink-50">
                    <div class="font-semibold pb-1">Total Expired</div>
                    <div class="text-xl">{{ rowData.loyalty.totalExpired | number:'1.0-0' }}</div>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td class="border-left-right text-center" colspan="8">No record found</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
